/*  */
.browserContainer {
    position: relative;
}

findbar {
    position: absolute;
    top: 0px;
    right: 0px;
}

.urlbar-input-box>.urlbar-input::placeholder {
	opacity: 0 !important;
}

#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon {
	display: none !important;
}

#urlbar{
	text-align: center !important;
	color: darkorange !important;
	/* font-family: consolas; */
	background-color: #131313 !important;
	border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;

}

.tab-line{
	height:2px !important;
	background-image: linear-gradient(to right, darkorange, darkorange);
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.titlebar-placeholder[type="pre-tabs"] {
    display: none !important;
    border-inline-end: 1px solid black !important;
    width: 1px !important;
}

.tab-background {
	background-color: #424242 !important;
    -webkit-transform: perspective(100px) rotateX(30deg) !important;
    /* -moz-transform: perspective(100px) rotateX(30deg) !important;     / no idea what it did anyway... */
	border: 1px solid !important;
	border-color: black !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    display: none !important;
}
