*htm,html *{
  background-color: #FFFFFF;
  color: #000000;
}
#search input{
  background-color: #FFFFFF;
  color: #000000;
}
#input, select, textarea{
  background-color: #FFFFFF;
  color: #000000;
}
@-moz-document url-prefix(about:blank) {*{background-color:#202020;}}
