:root {
  --darkbg: #444;
  --adjustment-value: 8px;
  --details: rgba(119, 0, 0, 0.884);
}


.browserContainer {
  position: relative;
  background-color: var(--darkbg) !important;
}

#titlebar {
  -moz-appearance: none !important;
}

:root[sizemode="maximized"] {
  padding-top: 8px !important;
}

#urlbar,
#searchbar,
#TabsToolbar,
.tabbrowser-tab,
#tabbrowser-tabs>.tabbrowser-arrowscrollbox,
#tabbrowser-tabs {
  min-height: 10px !important;
  max-height: 18px !important;
  font-size: 11px !important;

}

#nav-bar .toolbarbutton-1>.toolbarbutton-icon,
.titlebar-button>.toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 10px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 10px) !important;
}


.titlebar-buttonbox-container {
  display: none;
}

#urlbar {
  box-shadow: none !important;
}


.titlebar-button {
  padding-block: 2px !important;
}

.titlebar-buttonbox-container {
  --toolbarbutton-inner-padding: 2px
}

#alltabs-button,
.scrollbutton-up[orient="horizontal"],
.scrollbutton-down[orient="horizontal"] {
  visibility: collapse
}

/* 
.tab-line {
  background-image: linear-gradient(to right, var(--details), var(--details));
} */