@-moz-document url(about:privatebrowsing) {
	html, body {
		background-color: #2B2A33;
		}
    .info {
		display: none !important;
		}
		
	.search-handoff-button{
		display: none !important;
		}
	.info-border{
		background-color: inherit !important;
		}

}

html.private .logo {background-image: url("picon.png") !important;}