@import "userChrome.css";

@-moz-document url(about:newtab), url(about:blank) {
  body {
    background-color: var(--darkbg);
  }
}

:root {
  scrollbar-face-color: var(--details);
  scrollbar-track-color: black;
  scrollbar-color: var(--details);
  scrollbar-width: none !important;
  /* thin / none */
}
