@import "userChrome.css";

@-moz-document url(about:newtab), url(about:blank){
  body{
    background-color: var(--darkbg) !important;
  }
}

:root{
  scrollbar-face-color: var(--details); /* Firefox 63 compatibility */
  scrollbar-track-color:  black; /* Firefox 63 compatibility */
  scrollbar-color: var(--details);
  scrollbar-width: thin;
}
